Repository Arinono/aoc: changes, and which lint-staged commands are due for each by the changed paths.
All: v fmt -w ., v -stats test .

feat(2020-12): add day 12 part 2 of 2020
  2020/12/exo.v
  2020/12/exo_test.v
Due: v fmt -w ., v -stats test .

feat(2020-13): add day 13 part 1 of 2020
  2020/03/exo.v
  2020/10/exo.v
  2020/11/exo.v
  2020/12/exo.v
  2020/13/exo.v
  2020/13/exo_test.v
Due: v fmt -w ., v -stats test .

tests: fix tests with new syntax on errors
  2020/04/exo_test.v
  2020/08/exo.v
  2020/08/exo_test.v
  2020/08/set/int_set_test.v
Due: v fmt -w ., v -stats test .

feat(2020-13): add day 13 part 2 of 2020
  2020/13/exo.v
  2020/13/exo_test.v
Due: v fmt -w ., v -stats test .

feat(2020-14): add day 14 part 1 of 2020
  2020/14/exo.v
  2020/14/exo_test.v
Due: v fmt -w ., v -stats test .

feat(2020-14): add day 14 part 2 of 2020
  2020/14/exo.v
  2020/14/exo_test.v
Due: v fmt -w ., v -stats test .

feat(2020-15): add day 15 of 2020
  aoc.v
  exo/twenty_twenty/fifteen/fifteen.v
  exo/twenty_twenty/fifteen/fifteen_test.v
Due: v fmt -w ., v -stats test .

feat(2020-16): add day 16 of 2020
  aoc.v
  exo/twenty_twenty/sixteen/set/set.v
  exo/twenty_twenty/sixteen/set/set_test.v
  exo/twenty_twenty/sixteen/sixteen.v
  exo/twenty_twenty/sixteen/sixteen_test.v
Due: v fmt -w ., v -stats test .

chore: some cleaning to support -autofree
  exo/twenty_twenty/eight/eight.v
  exo/twenty_twenty/eleven/eleven.v
  exo/twenty_twenty/fifteen/fifteen.v
  exo/twenty_twenty/five/five.v
  exo/twenty_twenty/fourteen/fourteen.v
  exo/twenty_twenty/nine/nine.v
  exo/twenty_twenty/six/six.v
  exo/twenty_twenty/sixteen/sixteen.v
  exo/twenty_twenty/ten/ten.v
Due: v fmt -w .

ci: add run job
  .github/workflows/ci.yml
Due: none

chore(cli): add support for 'all' cmd
  .github/workflows/ci.yml
  aoc.v
Due: v fmt -w .

fix: minor issues
  aoc.v
  exo/twenty_twenty/sixteen/set/set.v
Due: v fmt -w .

feat(2020-17): add day 17 of 2020
  aoc.v
  exo/twenty_twenty/seventeen/TODO.md
  exo/twenty_twenty/seventeen/part_1.v
  exo/twenty_twenty/seventeen/part_2.v
  exo/twenty_twenty/seventeen/seventeen.v
  exo/twenty_twenty/seventeen/seventeen_test.v
  exo/twenty_twenty/sixteen/sixteen.v
  exo/utils/set/set.v
  exo/utils/set/set_test.v
Due: v fmt -w ., v -stats test .

feat(2021_01): part 1 and runner
  aoc_2021/.gitignore
  aoc_2021/CHANGELOG.md
  aoc_2021/README.md
  aoc_2021/analysis_options.yaml
  aoc_2021/bin/aoc_2021.dart
  aoc_2021/bin/days/day01.dart
  aoc_2021/lib/day01/day01.dart
  aoc_2021/pubspec.lock
  aoc_2021/pubspec.yaml
  aoc_2021/test/day01/day01_test.dart
  inputs/2021/01.txt
Due: none

ci(2021): test and build
  .github/workflows/2021.yml
  README.md
  aoc_2021/README.md
Due: none

feat(2021_01): part 2
  aoc_2021/bin/days/day01.dart
  aoc_2021/lib/day01/day01.dart
  aoc_2021/test/day01/day01_test.dart
Due: none

feat(2021_02): part 1
  aoc_2021/bin/aoc_2021.dart
  aoc_2021/bin/days/day01.dart
  aoc_2021/bin/days/day02.dart
  aoc_2021/lib/day02/day02.dart
  aoc_2021/test/day02/day02_test.dart
  inputs/2021/02.txt
Due: none

feat(2021_02): part 2
  aoc_2021/bin/aoc_2021.dart
  aoc_2021/bin/days/day01.dart
  aoc_2021/bin/days/day02.dart
  aoc_2021/lib/day02/day02.dart
  aoc_2021/test/day02/day02_test.dart
Due: none

feat(cli): add all days run
  aoc_2021/bin/aoc_2021.dart
Due: none

refactor(2021_01): remove code dupe on classification
  aoc_2021/bin/days/day01.dart
  aoc_2021/lib/day01/day01.dart
  aoc_2021/test/day01/day01_test.dart
Due: none

feat(2021_03): part 1
  aoc_2021/bin/aoc_2021.dart
  aoc_2021/bin/days/day03.dart
  aoc_2021/lib/day03/day03.dart
  aoc_2021/test/day03/day03_test.dart
  inputs/2021/03.txt
Due: none

feat(2021_03): part 2
  aoc_2021/bin/days/day03.dart
  aoc_2021/lib/day03/day03.dart
  aoc_2021/test/day03/day03_test.dart
Due: none

feat(2021_04): part 1
  aoc_2021/bin/aoc_2021.dart
  aoc_2021/bin/days/day04.dart
  aoc_2021/lib/day04/day04.dart
  aoc_2021/test/day04/day04_test.dart
  inputs/2021/04.txt
Due: none

feat(2021_04): part 2
  aoc_2021/bin/days/day04.dart
  aoc_2021/lib/day04/day04.dart
  aoc_2021/test/day04/day04_test.dart
Due: none

chore: move Pair in utils + typo
  aoc_2021/bin/days/day04.dart
  aoc_2021/lib/day03/day03.dart
  aoc_2021/lib/utils/pair.dart
Due: none

feat(2021_05): part 1
  aoc_2021/bin/aoc_2021.dart
  aoc_2021/bin/days/day05.dart
  aoc_2021/lib/day05/day05.dart
  aoc_2021/test/day05/day05_test.dart
  inputs/2021/05.txt
Due: none

feat(2021_05): part 2
  aoc_2021/bin/days/day05.dart
  aoc_2021/lib/day05/day05.dart
  aoc_2021/test/day05/day05_test.dart
Due: none

feat(2021_06): part 1
  aoc_2021/.gitignore
  aoc_2021/bin/aoc_2021.dart
  aoc_2021/bin/days/day06.dart
  aoc_2021/lib/day06/day06.dart
  aoc_2021/test/day06/day06_test.dart
  inputs/2021/06.txt
Due: none

feat(2021_06): part 2
  aoc_2021/bin/days/day06.dart
  aoc_2021/lib/day06/day06.dart
  aoc_2021/test/day06/day06_test.dart
Due: none

feat(2021_07): both parts
  aoc_2021/bin/aoc_2021.dart
  aoc_2021/bin/days/day07.dart
  aoc_2021/lib/day07/day07.dart
  aoc_2021/test/day07/day07_test.dart
  inputs/2021/07.txt
Due: none

feat(2021_09): both parts
  aoc_2021/bin/aoc_2021.dart
  aoc_2021/bin/days/day09.dart
  aoc_2021/lib/day09/day09.dart
  aoc_2021/test/day09/day09_test.dart
  inputs/2021/09.txt
Due: none

feat(2021_10): both parts
  aoc_2021/bin/aoc_2021.dart
  aoc_2021/bin/days/day10.dart
  aoc_2021/lib/day10/day10.dart
  aoc_2021/lib/utils/stack.dart
  aoc_2021/test/day10/day10_test.dart
  aoc_2021/test/utils/pair_test.dart
  aoc_2021/test/utils/stack_test.dart
  inputs/2021/10.txt
Due: none

refactor(2021_10): line parsing and Char factory
  aoc_2021/lib/day10/day10.dart
Due: none

feat(2021_08): both parts
  aoc_2021/bin/aoc_2021.dart
  aoc_2021/bin/days/day08.dart
  aoc_2021/lib/day08/day08.dart
  aoc_2021/test/day08/day08_test.dart
  inputs/2021/08.txt
Due: none

wip(2021-11)
  aoc_2021/bin/aoc_2021.dart
  aoc_2021/bin/days/day11.dart
  aoc_2021/lib/day11/day11.dart
  aoc_2021/test/day11/day11_test.dart
  inputs/2021/11.txt
Due: none

init
  README.md
  TODO.md
Due: none

feat(2019): 1.1
  aoc_2019/.gitignore
  aoc_2019/Cargo.lock
  aoc_2019/Cargo.toml
  aoc_2019/src/day01.rs
  aoc_2019/src/main.rs
Due: none

Path conditions:
  v fmt -w .: any of: *.v
  v -stats test .: any of: *_test.v
